


<h2>{{ this.question.question }}</h2>

<div ng-show="question.answers.length">
  <div class="well">
  <h2>Some Answers: </h2>

  <ul>
  <li ng-repeat="item in question.answers | orderBy: '-votes'">
    <div class="form-group">
    <form ng-submit="approveAnswer(item.answer, item.id, item.votes)" class="form-inline" role="form">
      <div class="animate-show" ng-show="item.approved == true"><span class="glyphicon glyphicon-thumbs-up"></span></div>{{ item.answer }} <input type="submit" value="Approve">

      <i title="Up Votes" ng-click="upVote(item.answer, item.id, item.approved, item.votes)" class="fa fa-arrow-circle-up fa-2x" style='cursor:pointer'></i>

    <br/> <i title="Down Votes" ng-click="downVote(item.answer, item.id, item.approved, item.votes)" class="fa fa-arrow-circle-down fa-2x" style='cursor:pointer'></i>
      <p>Votes: {{ item.votes }}</p>
  </div>
  </li>
</ul>

</div> 
</div>
