<div ng-show="questions.length">
  <h1 text="centered">Help a dummy out!</h1>

  <div class="col-md-6">
  <div class="well">
  <h1>Dum questions no one has answered: </h1>
  <ul>
  <li ng-repeat="item in filtered = (questions | filter: filterFn)">
    <a ui-sref="question_answers_expert({ questionId: item.id })">{{ item.question }}</a>
  </li>
  </ul>
  </div>
  </div>

  <div class="col-md-6">
  <div class="well">
  <h1>Qs with As:</h1>
  <ul>
    <li ng-repeat="item in filtered = (questions | filter: filterFn2)">
      <a ui-sref="question_answers_expert({ questionId: item.id })">{{ item.question }}</a>
    </li>
  </ul>
  </div>
  </div>

</div>

<div ui-view> </div>
