<div ng-show="questions.length">
  <h1>You don't have questions cause you're not a dummy!</h1>
  <h1>Help a dummy out!</h1>
  <h1>Questions dummies have asked:</h1>

  <ul>
    <li ng-repeat="item in filtered = (questions | filter:{ answers: '![]'})">
      <a ui-sref="question_answers({ questionId: item.id })">{{ item.question }}</a>
    </li>
  </ul>

  <li ng-repeat="item in filtered = (questions | filter: filterFn)">
    <a ui-sref="question_answers({ questionId: item.id })">{{ item.question }}</a>
  </li>
  </ul>
  <h1>Questions with answers:</h1>
  <ul>
    <li ng-repeat="item in filtered = (questions | filter: !{ answers: '[]'})">
      <a ui-sref="question_answers({ questionId: item.id })">{{ item.question }}</a>
    </li>
  </ul>
</div>

<div ui-view> </div>
